Repository joynewton1996/Daily_Program, pull requests merged in 2021-06, with the labels that each got.

#50 June3_question
  hacker_Rank/Jun3_Question.txt
Labels: question

#49 Trading program upated
  hacker_Rank/June1_Answer.py
Labels: bug

#56 June4
  hacker_Rank/Jun4_Question.md
Labels: question

#57 Create readme.md
  level2/readme.md
Labels: documentation

#59 June5_question
  hacker_Rank/Jun5_Question.txt
Labels: question

#61 Create Jun5_Question.md
  level2/Jun5_Question.md
Labels: question

#62 perimeter problem
  hacker_Rank/June5_Answer.py
Labels: Answer

#67 Jun7_question
  level2/Jun7_Question.txt
Labels: question

#65 Jun7_Question
  hacker_Rank/Jun7_Question.txt
Labels: question

#70 Jun8_question
  level2/Jun8_Question.txt
Labels: question

#72 Jun8_Question
  hacker_Rank/Jun8_Question.txt
Labels: question

#74 Jun10_Question
  level2/Jun10_Question.txt
Labels: question

#76 Jun10_question
  hacker_Rank/Jun10_Question.txt
Labels: question

#85 Create queries.txt
  sqlalchemy_queries/queries.txt
Labels: good first issue
